################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication2/obj
*.user
/WebApplication2/.vs/WebApplication2
